* {
    padding: 0;
    margin: 0;
}

html {
    --text-hover: #ddb050;

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
}

.form-error {
    list-style: circle;
    color: red;
    margin-bottom: 20px;
    font-size: 1.3rem;
    margin-left: 25px;
}
