.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.form-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: min(600px, 100%);
    // border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.btn-submit {
    background-color: #ccc;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.6rem;
}
